@model MovieModel.Category

@{
    ViewBag.Title = "添加分类";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="mdui-card mdui-col-md-5" style="margin:20px auto; padding:8px 16px;">
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">分类名</label>
            @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "mdui-textfield-input", required="required"} })
        </div>
        <div class="mdui-list">
            <label class="mdui-list-item mdui-ripple">
                <span class="mdui-list-item-content">启用</span>
                <label class="mdui-switch">
                    <input type="checkbox" name="Valid" value="true" />
                    <i class="mdui-switch-icon"></i>
                </label>
            </label>
        </div>
        <span class="mdui-textfield-error" style="visibility:visible;">@ViewBag.Message</span>
        <p>
            <button type="submit" class="mdui-btn mdui-color-theme-accent mdui-ripple">保存</button>
            <button type="button" class="mdui-btn mdui-color-theme-accent mdui-ripple" onclick="javascript: location.href='/Category';">取消</button>
        </p>
    </div>
}
