
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="mdui-card mdui-col-md-5" style="margin:20px auto; float:none; padding:8px 16px;">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">用户名</label>
            <input name="username" class="mdui-textfield-input" type="text"required="required" value="@ViewBag.Username"/>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">密码</label>
            <input name="password" class="mdui-textfield-input" type="password" required="required" />
        </div>
        <span class="mdui-textfield-error" style="visibility:visible;">@ViewBag.Message</span>
        <p>
            <button class="mdui-btn mdui-color-theme-accent mdui-ripple" type="submit">登录</button>
            <span class="mdui-typo mdui-float-right" style="line-height:36px;">没有账号？<a href="/Sign">注册</a></span>
        </p>
    </div>
}

