<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MovieRatingEntities" connectionString="metadata=res://*/Movies.csdl|res://*/Movies.ssdl|res://*/Movies.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MovieRating;user id=sa;password=4rfv$RFV;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MovieRatingModel" connectionString="metadata=res://*/MovieModel.csdl|res://*/MovieModel.ssdl|res://*/MovieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MovieRating;user id=sa;password=vbe2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>